@import "./custom";

$times: serif;
$transition-time: 0.5s;
$grey: #aaa;
$blue: #64A9E0;

html {
    overflow-x: hidden;
}

.hide-html {
    opacity: 0;
}

.show-html {
    animation: fade-in 3s;
    animation-fill-mode: forwards;
}

.container-fluid {
    margin-bottom: 40px;
}

hr {
    width: 150px;
    border-color: black;
}

//====================================================================================================
// Navbar.
//====================================================================================================

#navbar {
    width: 100%;
    background: rgba(0,0,0,0) !important;

    .navbar-brand {
        padding-left: 8px;
        font-family: "Mr Dafoe", cursive;
        transition: color $transition-time;
    }

    .navbar-brand:hover {
        color: $grey !important;
    }
}

li.nav-item a {
    transition: color $transition-time;
}

ul.navbar-nav:hover a {
    color: $grey !important;
}

li.nav-item:hover a {
    color: white !important;
}

//====================================================================================================
// Landing.
//====================================================================================================
#landing-container {
    padding: 0;

    .row {
        margin: 0;
    }
}

#landing-content {
    background-image: url("../../images/Me\ Desktop.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

#landing-grey-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: black;
    top: 0;
    display: block;
}

#landing-caption {
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -55%);

    h1 {
        margin: 0;
    }

    p {
        margin: 5px 0 5px 0;
        font-family: $times;
        font-size: 24px;
    }

    #landing-social-links {
        margin: 5px 0 5px 0;
        font-size: 24px;
    }

    .inline-social-links-wrapper a {
        transition: $transition-time;
    }

    .inline-social-links-wrapper:hover a {
        color: $grey;
    }

    .inline-social-links-wrapper a:hover {
        color: white;
    }

    a {
        margin: 0 5px 0 5px;
        color: white;
    }

    button {
        display: block;
        margin: 0 auto;
        width: 250px;
        height: 50px;
        border: 2px solid white;
        border-radius: 10px;
        background: none;
        color: white;
        transition: $transition-time;
        font-size: 20px;
    }

    button:hover {
        background: white;
        color: black; 
    }
}

#landing-chevron {
    color: white;
    position: absolute;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translate(-50%, 0%);
    animation: up-down;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

//====================================================================================================
// About.
//====================================================================================================

#about-container {
    text-align: center;
    color: black;
}

//====================================================================================================
// Animations.
//====================================================================================================

@keyframes up-down {
    0% {
        transform: translate(-50%, 0%);
    }
    25% {
        transform: translate(-50%, 0%);
    }
    50% {
        transform: translate(-50%, -10%);
    }
    100% {
        transform: translate(-50%, 0%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.0;
    }
    10% {
        opacity: 0.0;
    }
    100% {
        opacity: 100.0;
    }
}

//====================================================================================================
// Media Queries.
//====================================================================================================

@include media-breakpoint-down(md) { 
    #navbar {
        background: white !important;
    }

    #landing-content {
        background-attachment: scroll;
    }

    #landing-caption h1 {
        font-size: 36px !important;
    }
}

@include media-breakpoint-only(md) {
    #landing-caption h1 {
        font-size: 72px !important;
    }
}

@include media-breakpoint-down(md) { 
    #landing-caption button {
        display: none;
    }

    .fab:hover {
        animation: none;
    }
}

@include media-breakpoint-up(lg) { 
    #navbar a {
        color: white;
    }

    #landing-container {
        margin-top: -56px;
    }
}